
		{% block header_top %}
			{{ page.header_top }}
		{% endblock %}

		{% block header %}
			{{ page.header }}
		{% endblock %}
<div class="container-main">
		{% block content %}
			{{ page.content }}
		{% endblock %}
</div>
		{% block footer %}
			{{ page.footer }}
		{% endblock %}

